// layout置頂導覽列
.everynav {
  z-index: 580;
  .nav-item:hover .nav-link, .nav-item.active .nav-link{
    border-bottom: 1px solid $strong;
  }
}

// layout-index-banner
section.header-top-banner {
  height: 480px;
  background: url(../images/index-banner.jpg) center / cover no-repeat;
}

// layout-footer-banner
.footer .banner {
  height: 400px;
  background: url(../images/index-footer-banner.jpg) center / cover no-repeat;
}

// index的熱門特展圖片最小高度
.img_exhibition {
  min-height: 350px;
}

// index的直播回顧banner
.img_livestream-banner {
  min-height: 400px;
  background: url(../images/index-live-bg.png) center / cover no-repeat;
  // 開透的背景
  .img_livestream-user-bg {
    background: rgba(56, 25, 39, 0.8) ;
  }
}

.img_350 {
  width: 350px;
  height: 350px;
  @media (max-width:992px) {
    width: 100%;  
  }
}

.img_285 {
  height: 285px;
}

// 設計頁面的高
.block_min-417 {
  min-height: 417px;
}
